<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zoop.checkout.app">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"
        tools:overrideLibrary="com.bluejamesbond.text,org.solovyev.android.views.llm,android.support.v13,com.amazonaws.mobile.auth.ui,com.amazonaws.mobile.auth.google" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.BLUETOOTH" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/product_name"
        tools:replace="android:label"
        android:theme="@style/Theme.AppCompat.Light"
        android:name=".CheckoutApplication">
        <activity
            android:name=".ChargeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="@string/product_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.zoop.checkout.app.CHARGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<!--        <activity android:name="io.card.payment.CardIOActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />-->
        <activity
            android:name=".ConfigPinPadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ConfigPrinterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".WalletActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".MigrateVersionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".OptionsMenu"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".FAQActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".PlansActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".CaptureSignatureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_capture_signature"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ReceiptPrint"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_capture_signature"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/product_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".testeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_payments_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TutorialPairPAXActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ExtraCardInfoActivity"
            android:label="@string/title_activity_extra_card_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DocumentsActivity"
            android:label="@string/title_activity_extra_card_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PaymentsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_payments_list"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".WelcomeCheckoutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_receipt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".PairPinPadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ReceiptActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_receipt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".PaymentMethodsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ConfigPasswordGenaratorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ConfigSenhaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".StartupActivity"
            android:label="@string/product_name"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VoidTransactionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/void_transaction_dialog_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="NewApi"></activity>
        <activity
            android:name=".CVCHelpActivity"
            android:label="@string/title_activity_cvchelp"></activity>
    <!--    <activity
            android:name=".AfterInstallActivity"
            android:label="@string/title_activity_after_install"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>-->
    </application>

</manifest>
